site_name: Docs
site_url: https://sitename.example
theme:
  name: material
  icon:
    logo: fontawesome/solid/v
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.sections
    - navigation.path
    - header.autohide
    - navigation.footer
    - navigation.top
    - toc.follow
    - search.highlight
    - search.suggest
  palette:
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Light Mode
      primary: indigo
      accent: blue

    - scheme: default
      toggle:
        icon: material/weather-night
        name: Dark Mode
      primary: blue
      accent: deep orange    
plugins:
  - tags
  - search
extra_javascript:
  - javascripts/shortcuts.js
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower      
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.snippets
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true  
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.betterem       
  - pymdownx.blocks.caption  
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower      
#extra:
#  social:
#    - icon: simple/youtube
#      link: https://youtube.com/@content_creator_channel_url
#    - icon: simple/linkedin
#      link: https://linkedin.com/in/content_creator
copyright: Copyright &copy; 2026 Name

nav:
#- index.md
  - Home: index.md
  - Machine Learning:
        - Introduction: ML/introML.md
        - Types of ML: ML/types_of_ML.md
        - Evaluation of ML Models: ML/evaluation.md
        - Data Science: ML/Data_Science.md
        - ML Models Comparision: ML/model_comparision.md      
  - Deep Learning:
        - Introduction1: DL/DL1.md
        - Introduction2: DL/DL2.md     
